@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 32 24% 94%;
    --foreground: 245 6% 24%;

    --card: 32 24% 94%;
    --card-foreground: 245 6% 24%;

    --popover: 32 24% 94%;
    --popover-foreground: 245 6% 24%;

    --primary: 160 55% 32%;
    --primary-foreground: 0 0% 98%;

    --secondary: 160 41% 70%;
    --secondary-foreground: 245 6% 24%;

    --muted: 156 19% 83%;
    --muted-foreground: 245 6% 45%;

    --accent: 160 41% 70%;
    --accent-foreground: 245 6% 24%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 156 19% 83%;
    --input: 156 19% 83%;
    --ring: 160 55% 32%;

    --orange: 160 41% 70%;
    --orange-foreground: 245 6% 24%;

    --radius: 0.75rem;

    --sidebar-background: 32 24% 94%;
    --sidebar-foreground: 245 6% 24%;
    --sidebar-primary: 160 55% 32%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 160 41% 70%;
    --sidebar-accent-foreground: 245 6% 24%;
    --sidebar-border: 156 19% 83%;
    --sidebar-ring: 160 55% 32%;
  }

  .dark {
    --background: 245 6% 24%;
    --foreground: 0 0% 98%;

    --card: 245 6% 24%;
    --card-foreground: 0 0% 98%;

    --popover: 245 6% 24%;
    --popover-foreground: 0 0% 98%;

    --primary: 160 41% 70%;
    --primary-foreground: 245 6% 24%;

    --secondary: 160 55% 32%;
    --secondary-foreground: 0 0% 98%;

    --muted: 245 6% 30%;
    --muted-foreground: 0 0% 70%;

    --accent: 160 41% 70%;
    --accent-foreground: 245 6% 24%;

    --destructive: 0 62% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 245 6% 30%;
    --input: 245 6% 30%;
    --ring: 160 41% 70%;

    --orange: 160 41% 70%;
    --orange-foreground: 245 6% 24%;
    --sidebar-background: 245 6% 24%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 160 41% 70%;
    --sidebar-primary-foreground: 245 6% 24%;
    --sidebar-accent: 160 55% 32%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 245 6% 30%;
    --sidebar-ring: 160 41% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}